################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vaja/.vs
/Vaja/Vaja/App_Data
/Vaja1/.vs
/VajaCodeFirst/.vs
/VajaCodeFirst1/.vs
/Vaja942021/.vs
/Vaja942021/Vaja942021/App_Data/PodjetjeContext-20210409084434_log.ldf
/Vaja942021/Vaja942021/App_Data/PodjetjeContext-20210409084434.mdf
/DBFirst/.vs
/TestBootstrap2/.vs
/TestBootstrapa/.vs
/TrgovinaWebAPI/.vs
