@model Vaja1.Models.Student

@{
    ViewBag.Title = "TestModela";
}

<h2>Študent</h2>
<ul>
    <li>ID študenta : @Model.StudentId</li>
    <li>Ime         : @Model.StudentName</li>
    <li>Starost     : @Model.Age</li>
</ul>

